.databar {
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: flex-start; /* Horizontal center alignment */

  height: 10%;
  width: 100%;
  border: 1px dotted rgba(255, 255, 255, 0.404);
  box-sizing: border-box;
}

.index {
  width: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.39);
  font-size: 30px;
  margin: 0 15px;
}

.data {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.trackArtist {
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.39);
  font-size: 18px;
  margin: 0 15px;
}

.trackImage {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.artistImage {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
