.listening {
  font-size: 60px;
  position: relative;
  opacity: 0.7;
  top: -510px;
  right: 40px;
}

.habits {
  font-size: 50px;
  opacity: 0.7;
  position: relative;
  top: -570px;
  left: 90px;
}

.logInButton {
  position: relative;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background-color: #1db954;
  border: none;
  margin: auto;
  top: -570px;
  opacity: 0.7;
  font-size: 15px;
}

.logInButton:hover {
  background-color: #7adf9e;
}

.title {
  background-color: black;
  opacity: 0.5;
  width: 500px;
  height: 350px;
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -220px;
  border-radius: 10px;
}

.LogIn {
  margin: auto;
  margin-top: 350px;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .title {
    width: 300px;
  }

  .listening {
    bottom: 100px;
    right: 10px;
  }

  .habits {
    bottom: 150px;
    left: 60px;
  }

  .logInButton {
    width: 200px;
  }
}
