@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruthie&display=swap");
html {
  margin: 0;
  background-image: url("./backgmed.jpg");
  background-size: 100% 100vh;
  height: 100%;
  width: 100%;
  display: inline-block;
  overflow: hidden;
}
body {
  margin: 0;
  /* background-image: url("./image-from-rawpixel-id-2421445-original.jpg"); */
  background-color: rgba(0, 0, 0, 0.247);
  background-size: 100% 100vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
}

.listening {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: white;
  position: absolute;
  opacity: 0.7;
  right: 43%;
  /* right: 0; */

  top: 27%;
}

.habits {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  color: white;
  opacity: 0.7;
  position: absolute;
  left: 51%;
  top: 35%;
}

.logInButton {
  position: absolute;
  font-family: "Roboto", sans-serif;
  width: 300px;
  height: 40px;
  border-radius: 50px;
  background-color: #1db954;
  border: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  opacity: 0.7;
  font-size: 15px;
}

.logInButton:hover {
  background-color: #7adf9e;
}

.title {
  background-color: black;
  opacity: 0.5;
  width: 500px;
  height: 350px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 20%;
  border-radius: 10px;
}

.LogIn {
  margin: auto;
  margin-top: 350px;
  text-align: center;
}

@media only screen and (max-width: 550px) {
  .title {
    width: 300px;
  }

  .listening {
    font-size: 40px;
    left: 20vw;
  }

  .habits {
    font-size: 30px;
    left: 58%;
  }

  .logInButton {
    width: 200px;
  }
}
