.homeContainer {
  position: relative;
  height: 90vh;
  width: 95vw;
  margin: 5vh 2.5vw;
  background-color: rgba(0, 0, 0, 0.658);
}

.message {
  position: relative;
  font-size: 25px;
  top: 20vh;
  margin: 0 auto;
  opacity: 0.7;
}

.error {
  width: 305px;
}

.noData {
  width: 190px;
}
