.trackSection {
  width: 200px;
}

.trackInfoContainer {
  display: flex;
  justify-content: space-evenly;
}

.spotifyLinkTrack {
  position: relative;
  top: 10vh;
  font-weight: 1;
  padding: 10px 50px 10px 50px;
  border: 2px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

.spotifyLinkTrack:hover {
  color: black;
  background-color: white;
}
