.trackSection {
  width: 200px;
}

.trackInfoContainer {
  display: flex;
  justify-content: space-evenly;
}

.spotifyLinkTrack {
  position: relative;
  top: 10vh;
  font-weight: 200;
  padding: 10px 50px 10px 50px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
}

.spotifyLinkTrack:hover {
  color: black;
  background-color: #ffffff;
}
