.item {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
  animation: fadein 2s;
}

.red {
  background-color: rgba(184, 15, 15, 0.267);
}

.blue {
  background-color: rgba(0, 0, 255, 0);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
