@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

.profileContainer {
  display: inline-block;
  height: 150px;
  width: 30vw;
  min-width: 350px;
}

.profilePicture {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 6vw;

  margin-top: 35px;
}

.name {
  position: absolute;
  display: inline-block;
  margin-left: 35px;
  margin-top: 40px;
  margin-bottom: 0px;

  color: white;
  font-family: "Roboto", sans-serif;
}

.followBox {
  position: absolute;
  display: inline-block;
  margin-left: 35px;
  margin-top: 70px;
  margin-bottom: 0px;

  text-align: center;
  color: rgba(255, 255, 255, 0.521);
  font-family: "Roboto", sans-serif;
}

.followTitle {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 2px;
}

.follow {
  margin-top: 0px;
  font-size: 14px;
  font-weight: lighter;
}

.followLeft {
  margin-left: 115px;
}

.currentTitle {
  font-size: 90px;
  float: right;
  margin: 40px 5vw 0 0;
  width: 470px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.logOut {
  border-radius: 50px;
  width: 90px;
  position: absolute;
  display: inline-block;

  margin-top: 130px;
  margin-left: 60px;

  text-align: center;
}

/* ipad */
@media only screen and (max-width: 920px) {
  .currentTitle {
    font-size: 60px;
    width: 320px;
  }
}

@media only screen and (max-width: 750px) {
  .currentTitle {
    font-size: 40px;
    width: 220px;
  }
}

@media only screen and (max-width: 650px) {
  .currentTitle {
    font-size: 30px;
    width: 80px;
  }
}

/* mobile */
@media only screen and (max-width: 560px) {
  .currentTitle {
    position: absolute;
    left: 100px;
    top: 60px;
    font-size: 20px;
    width: 110px;
  }

  .profilePicture {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-left: 6vw;
    margin-top: 25px;
  }

  .name {
    margin-left: 20px;
    margin-top: 25px;
  }

  .followBox {
    margin-left: 30px;
    margin-top: 60px;
  }

  .followTitle {
    font-size: 10px;
  }

  .followLeft {
    margin-left: 85px;
  }

  .logOut {
    margin-top: 105px;
    margin-left: 115px;
    width: 65px;

    text-align: center;
  }
}
