.profileContainer {
  display: inline-block;
  height: 150px;
  width: 30vw;
  min-width: 350px;
}

.profilePicture {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-left: 5vw;

  margin-top: 35px;
}

.name {
  position: absolute;
  display: inline-block;
  margin-left: 25px;
  margin-top: 45px;
  margin-bottom: 0px;

  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.followBox {
  position: absolute;
  display: inline-block;
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: 0px;

  text-align: center;
  color: rgba(255, 255, 255, 0.521);
  font-family: Arial, Helvetica, sans-serif;
}

.followTitle {
  font-size: 14px;
  font-weight: lighter;
  margin-bottom: 2px;
}

.follow {
  margin-top: 0px;
  font-size: 14px;
  font-weight: lighter;
}

.followLeft {
  margin-left: 120px;
}

.currentTitle {
  font-size: 90px;
  float: right;
  margin: 35px 5vw 0 0;
  width: 470px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logOut {
  border-radius: 50px;
  width: 90px;
  position: absolute;
  display: inline-block;

  margin-top: 125px;
  margin-left: 65px;

  text-align: center;
}

@media only screen and (device-width: 768px) {
  .currentTitle {
    font-size: 65px;
  }
}

@media only screen and (max-width: 320px) {
  .currentTitle {
    font-size: 15px;
  }
}
