li {
  list-style: none;
}

.upArrow {
  position: absolute;
  bottom: 80px;
  height: 70px;
  width: 70px;

  transition: height 0.3s ease-in-out;
}
.upArrow:hover {
  height: 80px;
}

.downArrow {
  position: absolute;
  top: 85px;
  height: 70px;
  width: 70px;
  transition: height 0.3s ease-in-out;
}

.downArrow:hover {
  height: 80px;
}

.buttons {
  position: absolute;
  top: 45vh;
  right: 75px;
}

.slideshow {
  /* scroll-behavior: smooth; */
  position: relative;
  border: 2px none rgba(255, 255, 255, 0.39);
  border-radius: 2px;
  margin: 5px auto;
  height: 65vh;
  width: 83vw;
  box-sizing: content-box;
  overflow: hidden;
}

.navigate {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.39);
  font-size: 26px;
  position: absolute;
  bottom: 142px;
  left: 13px;
  transform: rotate(90deg);
  display: none;
}
