.upArrow {
  position: absolute;
  transform: rotate(80deg);

  bottom: 250px;
}

.downArrow {
  position: absolute;
  transform: scaleX(-1) rotate(260deg);

  /* right: -4vw; */
}

.buttons {
  /* height: 45vh; */
  position: absolute;
  bottom: 17vh;
  right: 5vw;
}

.slideshow {
  scroll-behavior: smooth;
  position: relative;
  border: 4px solid white;
  margin: 10px auto;
  height: 65vh;
  width: 83vw;
  box-sizing: content-box;
  overflow: hidden;
}

.item {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.artist {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.red {
  background-color: rgba(184, 15, 15, 0.267);
}

.blue {
  background-color: rgba(0, 0, 255, 0);
}
