.slideshow {
  /* scroll-behavior: smooth; */
  position: relative;
  border-radius: 2px;
  margin: 5px auto;
  height: 65vh;
  width: 83vw;
  box-sizing: content-box;
  overflow: hidden;
}

.slideShowButtons {
  position: absolute;
  top: 45vh;
  right: 75px;
}

.arrow {
  position: absolute;
  height: 70px;
  width: 70px;
  transition: height 0.3s ease-in-out;
}

.arrow:hover {
  height: 80px;
}

.upArrow {
  bottom: 80px;
}

.downArrow {
  top: 85px;
}
