.artistSection {
  width: 140px;
  display: inline-block;
}

.spotifyLinkArtist {
  position: relative;
  bottom: -5vh;
  font-weight: 200;
  padding: 10px 50px 10px 50px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
}

.spotifyLinkArtist:hover {
  color: black;
  background-color: #ffffff;
}
