.artistSection {
  width: 140px;
  display: inline-block;
}

.spotifyLinkArtist {
  position: relative;
  bottom: -5vh;
  font-weight: 1;
  padding: 10px 50px 10px 50px;
  border: 2px solid white;
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

.spotifyLinkArtist:hover {
  color: black;
  background-color: white;
}
